@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#4A0D12,#6E1220,#4A0D12);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.login-box{
    width:380px;
    background:#1B1B1B;
    border:2px solid #D4AF37;
    border-radius:20px;
    padding:40px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.5);
}

.logo{
    width:100px;
    height:100px;
    border-radius:50%;
    border:3px solid #D4AF37;
    margin-bottom:20px;
}

.login-box h2{
    color:#D4AF37;
    margin-bottom:25px;
}

.login-box input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:14px;
    margin-top:20px;
    background:#D4AF37;
    color:#111;
    border:none;
    border-radius:10px;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.login-box button:hover{
    background:#FFD700;
}

#error{
    color:#ff4d4d;
    margin-top:15px;
}